<h1><strong>Your pendencies:</strong></h1>
<div class="pendencies">
  {{#each data.invites}}
  <div class="invite-card">
    <form action="/pendencies" method="POST">
      <h1><strong>From:</strong> {{this.owner.username}}</h1>
      <p>{{this.message}}</p>
      <p><strong>My band:</strong> <a href="/band-profile/{{this.bandInvite.id}}">{{this.bandInvite.bandname}}</a></p>
      <input type="hidden" name="inviteID" value="{{this.id}}">
      <input type="hidden" name="bandID" value="{{this.bandInvite.id}}">
      <p><button class="btn" type="submit" name="accept" value="true">Accept</button> or <button class="btn" type="submit" name="decline"
          value="true">Decline</button></p>
    </form>
  </div>
  {{/each}}
  {{#each band.[0].request}}
  <div class="invite-card">
    <form action="/pendencies/request" method="POST">
      <h1><strong>From:</strong> {{this.owner.username}}</h1>
      <p>{{this.message}}</p>
      <p><strong>Your band:</strong> <a href="/band-profile/{{this.to.id}}">{{this.to.bandname}}</a></p>
      <input type="hidden" name="requestID" value="{{this.id}}">
      <input type="hidden" name="bandID" value="{{this.to.id}}">
      <input type="hidden" name="userID" value="{{this.owner.id}}">
      <p><button class="btn" type="submit" name="accept" value="true">Accept</button> or <button class="btn" type="submit" name="decline"
          value="true">Decline</button></p>
    </form>
  </div>
  {{/each}}
</div>