<div id="user-card">
  <div>
  {{#if data.profilePic}}
  <img id="profile-pic" src="{{data.profilePic.path}}" alt="">
  {{/if}}
  </div>
  <div class="info">
    <h3 class="name">{{data.name}} {{data.surname}}</h3>
    <p>{{data.age}}</p>
    <p>{{data.username}}</p>
    <ul>
      {{#each data.instruments}}
      <li>{{this}}</li>
      {{/each}}
    </ul>
    <p>{{data.biography}}</p>
    <br>
    <br>
    {{#each invites}}
    {{invites}}
    {{/each}}
    <br>
    <br>
    <h2>{{data.username}} bands:</h2>
    <div>
      {{#each data.bands}}
      {{this.bandname}}
      {{/each}}
    </div>
  </div>
</div>

<div class="invite">
  <form action="/invite" method="POST">
  <p>Do you want this person to join your band?</p>

  <br>

  <p>Select your band:</p>
  <select name="bands">
    {{#each userData.bands}}
    <option name="bandID" value="{{this.id}}">{{this.bandname}}</option>
    {{/each}}
  </select>
  <input type="hidden" name="userID" value="{{data.id}}">

  <br>

  <button type="submit">INVITE</button>
  
  </form>
</div>