<div class="box">
  <div id="user-card">
    <div>
      {{#if data.profilePic}}
      <figure id="profile-pic">
        <img src="{{data.profilePic.path}}" alt="">
      </figure>
      {{/if}}
    </div>
    <div class="info">
      <h3><strong>Name:</strong> {{data.name}} {{data.surname}}</h3>
      <p><strong>Age:</strong> {{data.age}}</p>
      <p><strong>User Rank:</strong>{{#if data.rating}} {{data.rating}} / 5 of {{data.votes.length}} votes {{/if}} {{#unless data.rating}}This user has no votes yet{{/unless}}</p>
      <p><strong>Username:</strong> {{data.username}}</p>
      <h3><strong>Instruments:</strong></h3>
      <ul>
        {{#each data.instruments}}
        <li>{{this}}</li>
        {{/each}}
      </ul>
      <p class="bio"><strong>About:</strong> {{data.biography}}</p>
      <br>
      <br>
      <h2><strong>{{data.username}}'s bands:</strong></h2>
      {{#unless data.bands}}
      <p>This user has no bands yet!</p>
      {{/unless}}
      <div>
        {{#each data.bands}}
        <p><a href="/band-profile/{{this.id}}">{{this.bandname}}</a></p>
        {{/each}}
      </div>
      <div id="btn">
      {{#if user}}
      <a href="/profile/edit"><button class="btn">EDIT YOUR PROFILE</button></a>
      {{/if}}
    </div>
    </div>
  </div>
</div>