<div id="user-card">
  <div>
  {{#if data.profilePic}}
  <img id="profile-pic" src="{{data.profilePic.path}}" alt="">
  {{/if}}
  </div>
  <div class="info">
    <h3 class="name">{{data.name}} {{data.surname}}</h3>
    <p>{{data.age}}</p>
    <p>{{data.username}}</p>
    <ul>
      {{#each data.instruments}}
      <li>{{this}}</li>
      {{/each}}
    </ul>
    <p>{{data.biography}}</p>
    {{#if user}}
    <a href="/profile/edit"><button>EDIT</button></a>
    {{/if}}
    <br>
    <br>
    <h2>{{data.username}} bands:</h2>
    <div>
      {{#each data.bands}}
      {{this.bandname}}
      {{/each}}
    </div>
  </div>
</div>
