<div class="index-background d-flex flex-column">
  <div class="d-flex justify-content-center align-items-center cards-margin">
    <div class="index-header">
      <h2>Welcome to <span class="myNavColor">MusiKick</span></h2>
      <p>Find people to play together!</p>
      <p>Create your own band!</p>
      <p>Become a rated user by gaining votes!</p>
    </div>
  </div>


  <div class="user-ranking d-flex flex-column cards-margin">
    <h2 class="d-flex align-self-center ranked-view-margin">View our ranked members profile</h2>
    <div class="d-flex justify-content-around  flex-wrap">
      {{#each users}}
      <div class="card card-radius" style="width: 20rem;">
        <img src="{{profilePic.path}}" class="card-img-top" alt="profile-image">
        <div class="card-body">
          <h5 class="card-title">{{name}} - rating: {{vote}}</h5>
          <p class="card-text">{{biography}}</p>
          <a href="/profile/{{_id}}" class="btn btn-primary">Profile</a>
        </div>
      </div>
      {{/each}}
    </div>
  </div>

  <div class="d-flex fixed-bottom justify-content-center footer-background-color">
    <p>Copyrighted by <img class="footer-img" src="../imgs/copyright.png" alt=""> Gabriel Holanda & Sérgio Festa</p>
  </div>
</div>