{{#if band.picture}}
<img src="{{band.picture.path}}">
{{/if}}
<h1>{{band.bandname}}</h1>
{{#each users}}
<h2>{{this.name}}</h2>
{{/each}}
{{#each band.genre}}
<h3>{{this}}</h3>
{{/each}}

{{#if x}}
<form action="" method="post">
  <label for="chatband" name="">{{user.name}}</label>
  <textarea name="chatband" id="" cols="100" rows="5"
    placeholder="chatband">Enter your text for your band here =)</textarea>
  <button type="submit">Submit</button>
</form>
{{#each band.chatband}}
<p>{{this}}</p>
{{/each}}
{{/if}}

{{#if user.joined}}
<form action="/request-to-join/{{band._id}}" method="POST">
  <input type="submit"  name="request" value="Request to join!">
</form>
{{/if}}