<div class="d-flex align-items-center flex-column search-margin">
  {{#if data.image}}
  <img class="news-img" src="{{data.image.path}}">
  {{/if}}
  <h1 class="news-heading">{{data.title}}</h1>
  <h4>An article by: {{data.writer.name}} {{data.writer.surname}}</h4>
  <p class="search-margin">{{data.text}}</p>
</div>